// typografia
@font-face {
    font-family: "Quatrocento Sans";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("~@/assets/fonts/QuattrocentoSans-Regular.ttf");
}

@font-face {
    font-family: "Quatrocento Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~@/assets/fonts/QuattrocentoSans-Bold.ttf");
}
